body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a{
  color: white;
  margin-right: 1.5%;
  text-decoration: none ;
}

#supportWrapper{
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}

#supportHero input{
  padding: 20px 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none;
}

.tabs > button {
  border: none;
  background-color: white;
  cursor: pointer;
  padding: 6px 15px;
  color: #387ed1;
  font-weight: 600;
}

.tabs > button.active-tab {
  color: #666666;
  border-bottom: 2px solid #387ed1;;
}

.grey-back {
  background-color: #f7f7f7;
}

.brokerage-link > a{
  text-decoration: none;
  color: #387ed1;
}

.brokerage-link > a:hover{
  text-decoration: none;
  color: black;
}