input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.phone-input {
  height: 45px;
  border: 1px solid black;
}

.phone-input input {
  height: 100%;
  border-left: 1px solid gray;
  border-radius: 0%;
}